body {
  background: #343a40;
  margin: 0;
}
.container.header {
  margin: 8px auto;
}
.container.header .ielogo {
  position: relative;
  top: -3px;
}
.container.header .navbar-brand {
  color: #fff;
}
.container.header .navbar-brand .branded {
  color: #c53241;
}

.content-wrap {
  background: #fff;
  padding: 20px 10%;
}
.content-wrap img {
  float: right;
  height: auto;
  padding-left: 5px;
  width: 300px;
}
.content-wrap.traffic .chess {
  border-radius: 1rem;
  display: block;
  float: none;
  margin: 0 auto 20px;
  width: 600px;
}
.content-wrap.traffic .copy-wrap {
  margin: 40px auto 0;
}
.content-wrap.traffic p.top,
.content-wrap.traffic p.mid,
.content-wrap.traffic p.bottom {
  max-width: 75%;
  margin: 20px auto;
}
.content-wrap.traffic p.top span.one {
  color: #c53241;
  font-weight: bold;
}
.content-wrap.traffic p.mid span.one {
  color: #0069d9;
  font-weight: bold;
}
.content-wrap.traffic p.bottom {
  text-align: center;
}
.content-wrap.traffic .banner728-90 {
  margin: 0 auto;
}
.content-wrap img.free-book {
  border-radius: 50%;
  padding-left: 20px;
}
.content-wrap h1 {
  color: #0069d9;
  font-weight: bold;
  text-align: center;
}
.content-wrap a {
  display: block;
}

.content-wrap .demo-covers-wrap {
  margin: 25px 0;
}

.content-wrap .demo-covers-wrap img {
  float: none;
  width: 49%;
}

form {
  clear: both;
}

form .input-wrap {
  background: #0069d9;
  border-radius: 30px;
  margin: 15px auto 0;
  padding: 20px;
  width: 50%;
}
form .input-wrap div.sign-up {
  text-align: center;
}
form .input-wrap p {
  color: #fff;
  font-size: 22px;
  margin: 0;
  text-align: center;
}
form .input-wrap label {
  display: none;
}
form .input-wrap input {
  border: none;
  border-radius: 10px;
  height: 45px;
  margin: 10px 0;
  padding: 0 5px;
  width: 100%;
}
form .input-wrap input[type=submit] {
  background: #00e6b8;
  box-shadow: 0px 2px 3px #006652;
  color: #343a40;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
}

button {
  cursor: pointer;
}

footer .ielogo {
  display: block;
  margin: 0 auto 10px;
}
footer ul {
  text-align: center;
}
footer ul .dot {
  color: #fff;
}
footer .branded {
  color: #c53241;
}

@media screen and (max-width: 767px) {
  .content-wrap img {
    float: none;
    width: 100%;
  }
  form .input-wrap {
    width: 100%;
  }
  .content-wrap .demo-covers-wrap {
    margin: 0;
  }
  .content-wrap .demo-covers-wrap img {
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }
}
